<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<div class="image65">
  <%= image_tag "Remanso-19.png"%>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="media">
        <div class="media-left">
          <%= image_tag "Remanso-21.png"%>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="media">
        <div class="media-left">
          <%= image_tag "Remanso-22.png"%>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="media">
        <div class="media-left">
          <%= image_tag "Remanso-23.png"%>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="media">
        <div class="media-left">
          <%= image_tag "Remanso-24.png"%>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="media">
        <div class="media-left">
          <%= image_tag "Remanso-25.png"%>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="media">
        <div class="media-left">
          <%= image_tag "Remanso-26.png"%>
        </div>
      </div>
    </div>
  </div>
</div>

